

<form action = '<%= users_url %>' method = 'post' >
<h1>New user</h1>

<label for="username">Username:</label>
<input type="text" name="user[username]" id = 'username' value="">
<label for="password">Password:</label>
<input type="password" name="user[password]" id = 'password' value="">
<input type="submit" value = 'Create'>
</form>
